.main_chat
  .header
    .header__group-name
    = @group.name
    .header__user-name
      Member : 
      - @group.users.each do |user|
        = user.name
    .edit
    = link_to edit_group_path(@group), class: "btn" do
      Edit

  .content
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: 'form__message', placeholder: 'type a message'

      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'form__mask__image__icon')
          = f.file_field :image, class: 'form__mask__image__hidden'
      = f.submit 'Send', class: 'form__submit'