.side_bar
  .side-header
    .side-header__info
      .side-header__info__name
        = current_user.name

      .side-header__info__icon
        = link_to new_group_path, class: "btn__cog" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "btn__edit" do
          = icon('fas', 'cog')

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            < メッセージはまだありません。>